# ==========================================
# 🤖 BOT DE ENCUESTA SEMARNAT - ENV EXAMPLE
# ==========================================

# 🔑 API key de 2Captcha
CAPTCHA_API_KEY=TU_API_KEY_DE_2CAPTCHA

# 🌐 URL de la encuesta
URL_ENCUESTA=https://consultaspublicas.semarnat.gob.mx:8443/llenado/23QR2025T0061

# 👻 Ejecutar en modo headless:
# 1 = oculto
# 0 = visible
HEADLESS=0

# ⏱️ Timeouts de Selenium
SELENIUM_PAGELOAD_TIMEOUT=90
SELENIUM_SCRIPT_TIMEOUT=90
SELENIUM_IMPLICIT_WAIT=10

# 📥 Carpeta de descargas
DOWNLOAD_DIR=downloads

# 🧪 Opcional: modo headless de Chrome
# Valores sugeridos: new | old
SELENIUM_HEADLESS_MODE=new

# 🛠️ Opcional: activar logs más detallados de chromedriver
# 1 = sí
# 0 = no
SELENIUM_VERBOSE_CHROMEDRIVER=0
